/* Removes default margin/padding */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  font-family: 'Inter', sans-serif; 
  line-height: 1.5;
}

/* --- header section --- */
.content__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.logo {
  font-family: 'Island Moments', cursive; 
  font-size: 40px; 
  color: #FF7A18
}

.button__signin { 
  text-decoration: none;
  color: #1E88E5;
  border: 2px solid #1E88E5;
  padding: 8px 24px;
  border-radius: 6px;
  background-color: #ffff;
  font-weight: 500;
  font-size: 0.9rem;
}

.btn-signin:hover {
    background-color: #EFF6FF; /* Light blue tint on hover */
}

/* --- main content section --- */
.main__content{
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #1F2937;
  margin-bottom: 16px;
  line-height: 1.2;
}


.sub__text{
  color: #1F2937;
  font-size: 1.1rem;
  margin-bottom: 40px;
}

/* --- FEATURES GRID (The Icons Section) --- */
.features__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  margin-bottom: 40px;
}

.feature__item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.icon__box{
  background-color: #FFE1C4;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.action__buttons {
  display: flex;
  flex-direction: column;
  gap: 15px; 
}


/* The container that holds both sides */
.main__container {
  display: flex;
  height: 100vh; /* Takes up full screen height */
  width: 100%;
}

/* Image styling */
.image__container {
  flex: 1;
  overflow: hidden;
  height: 100%;
}

.image__container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* Content styling */
.content__section {
  display: flex;
  flex: 1;
  flex-direction: column; /* Stacks header, main, footer vertically */
  justify-content: space-between;
  padding: 40px 80px;
}


button {
  border: none;
  color: none;
  font-family: 'Inter', sans-serif;
}

.btn__primary {
   background-color: #FF7A18;
   color: white;
   padding: 16px 0;
   width: 100%;
   border-radius: 8px;
   margin-bottom: 15px;
   font-size: 1rem;
   font-weight: 600;
}


.btn__primary:hover {
    background-color: #EA580C; 
}

.btn__secondary {
  background-color: white;
  color: #1E88E5;
  border: 1px solid #1E88E5;
  width: 100%;
  border-radius: 8px;
  font-weight: 600;
  padding: 15px 0;
  font-size: 1rem;
}

.btn__secondary:hover {
    background-color: #EFF6FF;
}

/* --- FOOTER SECTION --- */
.footer {
  margin-top: 40px;
}

.footer__divider {
    height: 1px;
    background-color: #E5E7EB; /* Light gray line */
    margin-bottom: 24px;
}

.footer__links {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 0.85rem;
  color: #1F2937;
}

.footer__links a {
  text-decoration: none;
  color: #64B5F6;
}


/* --- RESPONSIVENESS (MOBILE) --- */
@media (max-width: 900px) {
  .main__container {
    flex-direction: column;
    height: auto;
  }

  .image__container {
    height: 300px;
    flex: none;
  }

  .content__section{
    padding: 30px 20px;
    flex: none;
  }

  h1 {
        font-size: 2rem;
    }

    .features__grid {
        grid-template-columns: 1fr; 
    }
}